* {
    font-family: sans-serif;
}
#wrapper {
    width: 1150px;
    background: radial-gradient(#a28c97, #1b0b0f)
}
h1 {
    font-family: "Comic Sans", cursive;
    display: inline-block;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    /* margin: 5px, 20px; */
}
h2 {
    display: inline-block;
    margin-left: 500px;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: right;
    vertical-align: middle;
}
#header {
    background: linear-gradient(#f1f1f1, #ffffff);
    position: relative;
    margin-bottom: 20px;
}
.upper {
    height: 330px;
    vertical-align: top;
    margin-left: 20px;
    margin-bottom: 20px;
}
#headshot {
    padding: 5px;
    background-color: lightgray;
}
#about {
    display: inline-block;
    width: 550px;
    vertical-align: top;
}
a {
    text-decoration: underline;
}
.box {
    background: linear-gradient(to right, #ffffff, #dacbd9);
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 0px;
    margin-left: 20px;
    margin-bottom: 20px;
}
h3 {
    background: linear-gradient(#b4b4b4, #888888, #b4b4b4);
    color: #fefefe;
    margin: 0px;
    padding: 10px;
    font-size: 18pt;
}
h4 {
    background: linear-gradient(#b4b4b4, #888888, #b4b4b4);
    color: #fefefe;
    margin: 0px;
    padding: 10px;
    font-size: 16pt;
}
p {
    margin: 10px;
    font-size: 13pt;
}
.desc {
    text-align: justify;
}
.details {
    width: 350px;
}
.box.details {
    height: 700px;
}
.tech {
    vertical-align: bottom;
    position: absolute;
    bottom: 0px;
}
.icon {
    width: 55px;
    padding: 5px;
}
button {
    background-color: #407d61;
    font-size: 16px;
    color: white;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-left: 35%;
    box-shadow: 3px 3px 8px 3px darkgray;
}
#footer {
    background-color: #f9f9f9;
    padding-top: 2px;
}
.contact {
    text-align: center;
}
.logo {
    display: inline-block;
    width: 20px;
}